body {
    margin: 0;
    font-family: "Karla", sans-serif;
}

.container{
    width: 550px;
    height: 550px;
    background-color: #1F2937;
    margin: auto;
    color: white;
    padding-left: 50px;
    margin-top: 50px;
}



h1{
    margin: 0;
    font-size: 40px;
    font-weight: bolder;
}

p{
    color: #D5D4D8;
    margin: 0;
    margin-top: 10px;
}

br{
    color: #2F3E53;
}

.green-text{
    color: #4ADF86;
    /* margin-top: 100px; */
}



.passwords{
    display: flex;
    align-items: center;
}

.password-one, .password-two{
    background-color: #273549;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 40px;
    border-radius: 10px;
    margin-top: 70px;
}

.password-one{
    margin-right: 25px;
}

button{
    margin-top: 50px;
    background-color: #10B981;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
}