body {
    margin: 0;
    font-family: "Karla", sans-serif;
    background-color: #C4B5FD;
}

.container{
    width: 550px;
    height: 550px;
    background-color: #4C1D95;
    margin: auto;
    color: white;
    padding-left: 50px;
    margin-top: 50px;
    border-radius: 5px;
}

h1{
    margin: 0;
    font-size: 40px;
    font-weight:900;
    padding-top: 100px;
}

p{
    color: #D5D4D8;
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
}

hr{
    border: 1px solid;
    color: #A78BFA;
    width: 445px;
    margin: 0;
    margin-top: 35px;
    margin-bottom: 35px;
}

.green-text{
    color: #4ADF86;
}

.passwords{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #55F991;
    font-weight: bold;
}

#password-one, #password-two{
    cursor: pointer;
    transition: 0.5s;
    background-color: #6D28D9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 40px;
    border-radius: 5px;
}

#password-one:hover, #password-two:hover{
    transition: 0.5s;
    background-color: #8B5CF6;
}

#password-one{
    margin-right: 25px;
}

#copy-msg{
    color: #55F991;
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding-left: 200px;
    font-weight: bold;
}

button{
    cursor: pointer;
    margin-top: 50px;
    background-color: #10B981;
    color: #4C1D95;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px #999;
}

button:hover{
    background-color: #44b86f;
}

button:active{
    background-color: #44b86f;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
